@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.animate-kenburns {
  animation: kenburns 16s ease-in-out infinite alternate;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


